body {
    padding: 0;
    margin: 0;
    font-family: 'roboto', sans-serif;
    /*background: black;
    color: white;*/
}
body>div{
    text-align: center;
}
#bg {
    display:block;
    z-index: -1;
    position: fixed;
    top:0;
    left:0;
}


#u3002 {
    height: 50%;
    overflow: hidden;
}
#top{
    height:2%;
}
#svg2 {
    height:98%;
}


#main {
    height: 32%;
    font-size: 2.5vh;
}
#greeting {
    font-family: Arial, sans-serif;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    width: 40%;
}
#list {
    display: inline-block;
    vertical-align: middle;
    text-align:left;
    height:100%;
    width:40%;
    margin:0;
    padding:0;
}
#list > ul > li > a > img {
    height: 80%;
    vertical-align: middle;
    padding:0.1em;
}
#list > ul > li > a {
    display: block;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    padding-right:0.1em;
}
#list > ul > li {
    list-style-type: none;
    height:12%;
}
#list > ul {
    padding: 0;
}


#footer {
    height: 18%;
    background: #f1f2f3;
}
#container {
    background: #f1f2f3;
}
#audio{
    height:26%;
}
#Contact {
    height: 26%;
}
#Contact > a > img {
    height: 100%;
    opacity: 1;
    padding: 0;
    margin: 0;
    transform: scale(1);
    transition: transform 0.25s ease 0s;
}
#Contact > a > img:hover {
    opacity: 0.9;
    transform: scale(1.25);
}
#google_translate_element{
    padding:0;
    height:48%;
    overflow:hidden;
}


a:link {
    color: #1e1e1e;
    text-decoration: none;
}
a:visited {
    color: #551a8b
}
a:hover {
    color: #9cdcfe;
    text-decoration: none;
}
a:active {
    color: #007acc;
}
#list > ul > li> a:hover {
    background-color: #ECECEC;
    border-radius: 1em;
}
#list > ul > li > a:active {
    background-color: #DCDCDC;
    border-radius: 1em;
}